@charset "utf-8";

/**
 * Custom style, include the new features, namespace = custom
 * Base on Bootstrap and expand, namespace = expand
 */

/**
 * Variables and global style
 */
@import "variables.scss";

/**
 * _includes/head.html
 * Navigation
 */
@import "navbar.scss";

/**
 * _layouts/page.html
 * _layouts/post.html
 * Header
 */
@import "header.scss";

/**
 * _layouts/page.html
 * Postlist
 */
@import "postlist.scss";

/**
 * index.html
 * Pager
 */
@import 'pager.scss';

/**
 * _includes/footer.html
 * Footer
 */
@import "footer.scss";

blockquote {
    color: $color-minor;
    font-weight: 300;
    font-style: italic;
    margin: 20px 0 20px;
}
