$color-link: #28aac5;
$color-link-hover: #39c0dc;
$color-header-bg: #808080;
$color-header-title: #fff;
$color-post-tag: #fff;
$color-post-tag-hover: #fff;
$color-post-tag-border: transparentize(#fff, .2);
$color-post-tag-border-hover: #fff;
$color-post-tag-bg-hover: transparentize(#fff, .6);
$color-primary: #333;
$color-minor: #808080;


a {
    color: $color-link;
}
a:hover {
    color: $color-link-hover;
    text-decoration: none;
}
.custom-color-primary {
    color: $color-primary;
}
.custom-color-minor {
    color: $color-minor;
}

body {
    font-family: Helvetica, "PingFang sc", sans-serif;
}

* {
    -webkit-appearance: none;
            appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
